main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weather{
    background-color: #000000a2;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.city-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.city-weather p{
    font-size: 20px;
    margin: 0;
}

.weather-status {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.weather-status img {
    width: 100px;
    object-fit: contain;
    margin-left: -20px;
}

.weather-status p {
    font-size: 16px;
}

.meteorology {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.div-degrees {
    display: flex;
    align-items: center;
}

.div-degrees p {
    font-size: 80px;
    margin: 0;
}

.icon-degrees {
    width: 50px;
    object-fit: contain;
}

.conditions p {
    font-size: 14px;
    color: rgb(185, 177, 177);
    margin: 0;
}

.weather-forecast{
    display: flex;
    justify-content: center;
}

.list-weather-forecast{
    display: flex;
    list-style: none;
    width: 90%; 
    overflow-y: auto;
    padding: 0px;
}

.list-weather-forecast li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.list-weather-forecast li p{
    margin: 0;
}